nav.navigation {
  display: flex;
  gap: 2rem;
  margin: 0 auto;

  a.link {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: var(--text);
    transition: color 0.25s ease;

    &:hover {
      color: var(--primary);
    }

    span {
      text-align: center;
    }

    // &::before {
    //   content: "<";
    // }

    // &::after {
    //   content: ">";
    // }

    &.link--active {
      color: var(--primary);

      &::before {
        content: "<";
      }

      &::after {
        content: "/>";
      }
    }
  }
}

/* Mobile */
@media (max-width: 700px) {
  nav.navigation {
    gap: 0.5rem;

    a.link {
      gap: 0;
      overflow: hidden;

      &:focus {
        outline: 1px auto -webkit-focus-ring-color;
      }

      &:not(.link--active) {
        span {
          display: block;
          visibility: hidden;
          width: 1rem;

          &:first-letter {
            visibility: visible;
          }
        }
      }
    }
  }
}
