nav.navigation {
  margin: 0 auto;

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 2rem;

    li {
      a.link {
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        color: var(--text);
        transition: color 0.25s ease;

        &:hover {
          color: var(--primary);
        }

        span {
          text-align: center;
        }

        &.link--active {
          color: var(--primary);

          &::before {
            content: "<";
          }

          &::after {
            content: "/>";
          }
        }
      }
    }
  }
}

/* Mobile */
@media (max-width: 700px) {
  nav.navigation {
    ul {
      gap: 0.5rem;
      li {
        a.link {
          gap: 0;
          overflow: hidden;

          &:focus {
            outline: 1px auto -webkit-focus-ring-color;
          }

          &:not(.link--active) {
            span {
              display: block;
              visibility: hidden;
              width: 1rem;

              &:first-letter {
                visibility: visible;
              }
            }
          }
        }
      }
    }
  }
}
